.title-contact img {
    height: 30px;
    width: 30px;
}
.title-contact {
    width: 200px;
    height: 5.0rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.contact {
    margin-top: 50px;
    font-size: 1.6rem;
}
.contact section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 50px;
}
.contact section div {
    font-size: 1.0rem;
    display: flex;
    gap: 5px;
    text-align: left;  
    align-items: center;   
}
.contact section img {
    height: 50px;
}
.contact a {
    text-decoration: none;
    color: white;
}