.profile img {
    height: 250px;
    width: 250px;
}
.profile {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: left;
}
.profile section {
    width: 250px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.profile p {
    color: white;

}
#profileTextWebDev {
    font-size: 8px;
}
.profile span {
    color: #f19d39;
}

.contactLinks a {
    height: 50px;
    width: 50px;
    display: block;
}
.contactLinks img {
    height: 100%;
    width: 100%;
}
.contactLinks {
    margin-top: 50px;
    
    display: flex;
    justify-content: space-between;
}