.portfolio img {
    height: 30px;
    width: 30px;
}
.portfolio h2 {
    width: 200px;
    height: 30px;
}
.portfolio {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
.portfolioText {
    background-color: #f19d39;
    border-radius: 10px;
    padding: 10px;

    font-weight: bold;
    color: white;
    width: 100%;
    margin-top: 50px;
}
.portfolioText span {
    color: black;
}
.portfolioJobs {
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    gap: 5px;

}
.leftJobs {
    display: flex;
    flex-direction: column;

    gap: 5px;
    width: 50%;

}
.firstJob {
    width: 100%;
    height: 80px;

    background-color: #f19d39;
    border-radius: 10px;
    padding: 5px;
}
.firstJob img {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}
.secondJob {
    width: 100%;
    height: 200px;

    background-color: #f19d39;
    border-radius: 10px;
    padding: 5px;
}
.secondJob img {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}
.rightJobs {
    width: 50%;
    height: 285px;

    background-color: #f19d39;
    padding: 5px;
    border-radius: 10px;
}
.rightJobs img {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}
