.prices section {
    border: 1px solid #f19d39;
    width: 290px;
    border-radius: 30px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
}
.prices {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3rem;
    align-items: center;
}
.prices section h3, span{
    color: #f19d39;
}
.prices section p {
    color: white;
}
.prices section button {
    background-color: #f19d39;
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
    margin: auto;
    font-weight: bold;
}
.landing-page,
    .sites,
        .e-commerce {
            display: flex;
            justify-content: space-between;
        }